@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <div>
        <table>
            <thead>
                <tr>
                    <th>項目ㄧ</th>
                    <th>項目二</th>
                    <th>項目三</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.項目ㄧ</td>
                    <td>1.項目二</td>
                    <td>1.項目三</td>
                </tr>
                <tr>
                    <td>2.項目ㄧ</td>
                    <td>2.項目二</td>
                    <td>2.項目三</td>
                </tr>
                </tbody>
        </table>
    </div>
</div>